.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
  }
  
  img {
    width : 200px;
    height:200px;
  }
  img:hover {
    transform: scale(1.1);
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }

  #titre
  {
    text-align: center;
  }


  @media screen and (max-width : 1200px) {
    .container{
        flex-flow: column;
    }
}